/* 使用自定义的字体；调小字号 */
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

/* 去掉标题加粗 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

:root {
  /* Light mode 下使用更淡的字体颜色 */
  --content: #444;
  /* Light mode 下使用与主页一样的背景色 */
  --theme: rgb(245, 245, 245);
}

/* 暗色模式调整背景色 */
.dark {
  --theme: rgb(56, 60, 74);
}

/* Dark mode 下让图片的亮度降低（通过 opacity） */
.dark img {
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out;
}
.dark img:hover {
  opacity: 1;
}
